body {
	background-color: #E3F6FF;
	color: #00337C;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

.div {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
	border-radius: 4px;
	width: 500px;
	margin: auto;
}